dm_control==1.0.20
gym==0.26.2
gymnasium==1.1.1
imageio==2.35.1
jax==0.4.13
matplotlib==3.7.5
mujoco==3.1.6
numpy==1.24.4
opencv-python==4.12.0.88
optax==0.1.7
pandas==2.0.3
PyYAML==6.0.2
scipy==1.10.1
stable_baselines3==2.4.1
sympy==1.13.3
torch==2.4.1
torchvision==0.19.1
tqdm==4.66.5
